<md-bottom-sheet class="md-list md-has-header" layout="columns">
    <!-- <md-subheader ng-cloak class="md-caption">PkuyApp Log</md-subheader> -->
    <div class="tituloContainer" flex>
        <h3 class="md-caption">PkuyApp Log
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-tooltip>Ocultar Consola</md-tooltip>
                <md-icon style="color:wheat">arrow_drop_down</md-icon>
            </md-button>
        </h3>
    </div>

    <!-- <md-list ng-cloak> -->
    <!-- <md-list-item ng-repeat="item in items">

      <md-button
          ng-click="listItemClick($index)"
          md-autofocus="$index == 2"
          class="md-list-item-content">
        <md-icon md-svg-src="{{item.icon}}"></md-icon>
        <span class="md-inline-list-icon-label">{{ item.name }}</span>
      </md-button>

    </md-list-item> -->
    <!-- <md-list-item> -->
    <!-- </md-list-item> -->
    <!-- </md-list> -->
    <div class="consolaContainer" flex="80">
        <code id="consolaDiv" ng-bind="consola"></code>
    </div>
</md-bottom-sheet>