md-icon.contacto-icon {
    color: #6B4;
    font-size: 48px;
    height: auto;
    width: auto
}

md-icon.cliente-icon {
    color: #FB8C00;
    font-size: 48px;
    height: auto;
    width: auto
}

div.PkuyConsola {
    background-color: #222;
    position: fixed;
    width: 100%;
    z-index: 99;
    bottom: 0;
    max-height: 1em;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

div.PkuyConsola:hover {
    max-height: 50%;
    overflow: auto;
    transition: max-height 0.25s ease-in;
}

div.PkuyConsola * {
    margin-top: 0;
    margin-bottom: 0;
}

div.PkuyConsola div.consolaContainer {
    width: 100%;
}

div.PkuyConsola div.tituloContainer span {
    font-weight: bolder;
    color: coral;
    margin: 0 16px 0 6px;
}

div.PkuyConsola div.consolaContainer span {
    display: block;
    color: mediumseagreen;
}

div.PkuyConsola div.consolaContainer span:hover {
    background-color: #233;
}

div.PkuyConsola div.consolaContainer span.warn {
    display: block;
    color: gold;
}

div.PkuyConsola div.consolaContainer span.error {
    color: crimson;
    text-decoration: underline dotted;
}