<html lang="es-419">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
    <link rel="manifest" href="/pkuy-manifest.webmanifest" />
    <link rel="shortcut icon" type="image/png" href="/resources/img/pkuy-icon-1x.png" />
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="stylesheet" href="/resources/fonts/material-icons/material-icons.css">
    <!-- <link rel="stylesheet" href="/resources/fonts/Roboto/roboto.css">
    <link rel="stylesheet" href="/resources/fonts/Inter/inter.css"> -->
    <link rel="stylesheet" href="/resources/fonts/baloo-2/baloo-2.css">
    <link rel="stylesheet" href="/resources/css/cliente.css">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
</head>

<body ng-app="PkuyApp">
    <div class="splash" ng-cloak="" style="width: 100%;">
        <p
            style="height: 50%;vertical-align: bottom; text-align: center; font-family: monospace; font-size: 40pt; line-height: 10em;">
            PkuyApp Cargando
        </p>
    </div>

    <div ng-controller="main" flex ng-cloak="">
        <md-toolbar class="md-menu-toolbar" ng-cloak>
            <div layout="row">
                <md-toolbar-filler layout layout-align="center center">
                    <i class="material-icons icon-big">blur_on</i>
                </md-toolbar-filler>
                <div>
                    <h2 class="md-toolbar-tools cabecera-app">PkuyApp</h2>
                    <md-menu-bar>
                        <md-menu ng-repeat="menu in appMenu">
                            <md-button ng-click="$mdMenu.open($event)" ng-disabled="pkuyLoading">
                                {{ menu.titulo }}
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="entrada in menu.entradas">
                                    <!-- IF = 1 solo boton -->
                                    <md-button ng-click="entrada.do()" ng-if="!entrada.subentradas">{{entrada.titulo}}
                                    </md-button>
                                    <!-- ELSE = 1 submenu -->
                                    <md-menu ng-if="entrada.subentradas">
                                        <md-button ng-click="$mdMenu.open($event)">
                                            {{ entrada.titulo }}
                                        </md-button>
                                        <md-menu-content>
                                            <md-menu-item ng-repeat="subentrada in entrada.subentradas">
                                                <md-button ng-click="subentrada.do()">
                                                    {{subentrada.titulo}}
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                </div>
            </div>
        </md-toolbar>
        <!-- LOADING -->
        <md-progress-circular ng-disabled="!pkuyLoading" id="loadingCircle" md-diameter="72"></md-progress-circular>
        <!-- <div layout="rows" layout-align="center center">
            <span flex></span>
            <md-progress-circular ng-disabled="pkuyLoading" md-diameter="96"></md-progress-circular>
            <span flex></span>
        </div> -->
        <!-- CONSOLA -->
        <md-content layout="column" layout-align="start center" layout-padding>
            <div class="widgetRow" flex="25" layout="row">
                <!-- WIDGET -->
                <div class="funky-show-hide principalWidget colapsableWidget" ng-show="dolar.blue.venta">
                    <h2 class="fixedColapsableWidget" layout="column">
                        <i flex="0" class="material-icons">monetization_on</i>
                        <div>
                            <strong>Oficial </strong>{{ (dolar.oficial.venta | currency:'$') }}
                            <strong> Blue </strong>{{ (dolar.blue.venta | currency:'$')  }}
                            <br>
                            <span>{{ dolarActualizadoTxt }}</span>
                        </div>
                    </h2>
                    <h4>Oficial Compra: {{ (dolar.oficial.compra | currency:'$') }}</h4>
                    <h4>Oficial Venta: {{ (dolar.oficial.venta | currency:'$') }}</h4>
                    <h4>Blue Compra: {{ (dolar.blue.compra | currency:'$') }}</h4>
                    <h4>Blue Venta: {{ (dolar.blue.venta | currency:'$') }}</h4>
                </div>
                <!-- WIDGET -->
                <div class="funky-show-hide principalWidget colapsableWidget" ng-show="currentUser">
                    <h2 class="fixedColapsableWidget" layout="column">
                        <i flex="0" class="material-icons">account_circle</i>
                        <div>
                            {{ currentUser.nombreCompleto }}
                            <br>
                            <span>Log-in {{ currentUser.email }}</span>
                        </div>
                    </h2>
                    <h4>ID@terminal</h4>
                    <h4>{{ currentUser.id }}@{{ thisTerminalID }}</h4>
                </div>
                <div flex=""></div>
            </div>
            <div class="widgetRow" flex="25" layout="row">
                <div class="principalWidget colapsableWidget" ng-show="">
                </div>
                <div flex=""></div>
            </div>
            <div class="widgetRow" flex="25" layout="row">
                <div flex=""></div>
            </div>
            <div class="widgetRow" flex="25" layout="row">
                <div flex=""></div>
            </div>
            <!-- <p class="">PkuyApp Log</p>
            <h5>Off</h5>
            <md-switch ng-model="pkuyLoading" aria-label="Toggle Progress Circular Indicators">
                <h5>On</h5>
            </md-switch> -->
        </md-content>

        <md-content class="PkuyConsola" layout="row">
            <div class="tituloContainer md-secondary">
                <span class="md-caption">PkuyApp Log &rarr;</span>
                <md-tooltip>La <b>Consola</b> permite tener registro de las actividades del sistema</md-tooltip>
            </div>
            <div class="consolaContainer" id="consolaDiv" flex>
            </div>
            <div class="userDataContainer" ng-show="currentUser">
                {{ currentUser.nombre + ' (' + currentUser.email + ')'}}
            </div>
        </md-content>

    </div>

    <!-- jQuery Library -->
    <!-- <script src="/libs/jquery/jquery-3.4.1.slim.min.js"></script> -->

    <!-- AngularJS Libraries -->
    <!-- TODO remover scipts innecesarios -->
    <script src="/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <!-- Google API Library -->
    <script src="/libs/apis.google.com/js/api.js"></script>

    <!-- PkuyApp Credenciales  -->
    <script src="/keys/pkuyApp_keys.js"></script>
    <!-- PkuyApp Core  -->
    <script src="/pkuyAppClasses.js"></script>
    <script src="/pkuyAppCore.js"></script>

    <!-- This APP  -->
    <script src="/pkuyAppClient.js"></script>

</body>

</html>