<!DOCTYPE html>
<html ng-app="pkuyApp">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="manifest" href="/pkuy-manifest.json" />
  <link rel="shortcut icon" type="image/png" href="/pkuy-icon-1x.png?v=2" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <!-- MELI API DOCS : https://github.com/mercadolibre/mercadolibre.js -->
  <script src="https://static.mlstatic.com/org-img/sdk/mercadolibre-1.0.4.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <title>PKuy App - MeLi API Tests</title>
</head>

<body ng-controller="mainController">
  <h1>PKuy 1.0</h1>
  <p class="lead">Mercado Libre API - tests</p>
  <!-- <ul>
    <li ng-repeat="curr in currencies"><span>{{curr.id}}</span> {{curr.description}}</li>
  </ul>
  <hr>
  <p>{{me}}</p>
  <hr>
  <ul>
    <li ng-repeat="property in me"><span>{{property}}</span></li>
  </ul> -->
  <table class="table table-dark table-hover" id="productos_table">
    <caption>Listado de Tus Productos</caption>
    <thead>
      <th scope="col"></th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Disponible</th scope="col">
      <th scope="col">Vendido</th scope="col">
      <th scope="col">Ubicación</th scope="col">
      <th scope="col">Envío Gratis</th scope="col">
    </thead>
    <tbody>
      <tr ng-repeat="producto in targetSeller.results" class="{{producto.shipping.free_shipping? 'bg-warning':'' }}">
        <td>
          <figure class="figure">
            <img class="figure-img rounded" src="{{ producto.thumbnail }}" alt="{{ producto.title }}">
          </figure>
        </td>
        <td>
          <a href="{{ producto.permalink }}">{{ producto.title }}</a>
          <br><small class="text-muted">{{ producto.id }}</small>
        </td>
        <td>
          <span style="font-size:large;">{{ producto.price | currency:producto.currency_id+"$" }}</span>
          <br><small class="text-muted">{{producto.installments.quantity}}x${{ producto.installments.amount }}
            (Tasa:{{producto.installments.rate}}%)</small>
        </td>
        <td>
          {{ producto.available_quantity }}
        </td>
        <td>
          {{ producto.sold_quantity }}
        </td>
        <td>
          {{ producto.address.city_name }}, {{ producto.address.state_name }}
        </td>
        <td ng-if="producto.shipping.free_shipping">
          Sí
        </td>
        <td ng-if="!producto.shipping.free_shipping">
          No
        </td>
      </tr>
    </tbody>
  </table>
  <script>
    // $(document).ready(function(){
      // $('#productos_table').DataTable();
    // });
  </script>

  <script type="text/javascript" src="PkuyApp_keys.js"></script>
  <script type="text/javascript" src="PKuy.js"></script>
  <script type="text/javascript" src="gapi_keys.js"></script>
  <script type="text/javascript">
    function meliLoaded() {
      PkuyApp.ng = angular.module('pkuyApp', []);
      PkuyApp.ng.controller('mainController', function ($scope) {
        MELI.init(PkuyApp.meliClientParams);
        MELI.getLoginStatus(function (status) {
          if (status.state !== 'AUTHORIZED') {
            MELI.login(meliLogged($scope));
          } else {
            meliLogged($scope);
          }
        });
      });
    }
    function meliLogged($scope) {
      PkuyApp.mlData = new Object();
      if (PkuyApp.token = MELI.getToken()) {
        // meliToConsole("/users/me");
        // meliToConsole("/sites/MLA/search?nickname=" + "PACHA-KUYUY"); // id: 146925020 / nickname: "PACHA-KUYUY"
        // meliToConsole("/orders/search?seller=" + 146925020); // id: 146925020 / nickname: "PACHA-KUYUY"
        meliGet("/sites/MLA/search?nickname=" + "PACHA-KUYUY", function (data) {
          PkuyApp.mlData.targetSeller = $scope.targetSeller = data[2];
          PkuyApp.mlData.targetSellerObj = data;
          $scope.$apply()
        });
        meliGet("/orders/search/recent?seller=" + 146925020, function (data) {
          PkuyApp.mlData.recentOrders = $scope.recentOrders = data[2];
          $scope.$apply()
        });
        meliGet("/orders/search/recent?seller=" + 97505599, function (data) {
          PkuyApp.mlData.recentOrders = $scope.recentOrders = data[2];
          $scope.$apply()
        });
        meliGet("/currencies", function (data) {
          PkuyApp.mlData.currencies = $scope.currencies = data[2];
          $scope.$apply()
        });
        meliGet("/users/me", function (data) {
          PkuyApp.mlData.me = $scope.me = data[2];
          $scope.$apply()
        });
        // $scope.$apply();
        // $scope.mlData.currencies = meliGet("/currencies");
        // meliToConsole("/sites/MLA/listing_types");
        // meliToConsole("/sites/MLA/categories");
        // meliToConsole("/categories/MLA407134");
        // meliToConsole("/categories/MLA407134/attributes");
        // meliToConsole("/currencies");
        // meliToConsole("/currencies/ARS");
        // meliToConsole("/currencies/USD");
        // meliToConsole("/currency_conversions/search?from=ARS&to=USD");
        // meliToConsole("/currency_conversions/search?from=USD&to=ARS");
      }
    }
    function meliToConsole(what) {
      MELI.get(what, {}, function (data) {
        console.debug(what + ' : ');
        console.debug(data[2]);
      });
    }
    function meliGet(what, callback, callbackerr = function () { }) {
      MELI.get(what, {}, function (data) {
        console.debug('MELI GET REQUEST')
        console.debug(what);

        if (data[0] === 200) {
          console.debug("MELI GET RESPONSE")
          console.debug(data);
          callback(data);
        } else {
          console.debug('MELI ERR ' + data[0]);
          callbackerr(data[2]);
        }
      });
    }
    meliLoaded();
  </script>
</body>

</html>