<md-dialog flex="80">
    <div layout="column" ng-cloak class="md-inline-form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ titulo }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content layout-padding>
                <div>
                    <form ng-cloak name="crearNuevoProducto">
                        <h4>Datos del Producto</h4>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Descripción</label>
                                <input required name="descripcion" ng-model="nuevoProducto.descripcion" type="text">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="30">
                                <label>Origen</label>
                                <input name="origen" ng-model="nuevoProducto.origen" type="text">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>Unidad de Medida</label>
                                <md-select ng-model="nuevoProducto.UM">
                                    <md-option ng-repeat="unidad in unidades" value="{{unidad.UM}}">
                                        {{unidad.descripcionUM}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>Precio de Referencia UM</label>
                                <input name="prReferencia" ng-model="nuevoProducto.precioReferencia" type="number"
                                    step=".01">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="10">
                                <label>Moneda</label>
                                <input name="monedaPrReferencia" disabled ng-model="nuevoProducto.moneda">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="30">
                                <label>Tipo de Precio</label>
                                <md-select ng-model="nuevoProducto.tipoPrecio">
                                    <md-option ng-repeat="tipoPrecio in tiposPrecio"
                                        ng-click='nuevoProducto.moneda=tiposPrecio[$index].moneda'
                                        value="{{tipoPrecio.tipoPrecio}}">
                                        {{tipoPrecio.nombreTipoPrecio}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <h5>Presentaciones</h5>
                            <span flex></span>
                            <md-button class="md-fab md-mini md-primary" aria-label="Agregar Presentacion"
                                ng-click="agregarPresentacion()">
                                <md-icon>add</md-icon>
                            </md-button>
                            <md-button class="md-fab md-mini md-primary" aria-label="Quitar Presentacion"
                                ng-click="quitarPresentacion()">
                                <md-icon>remove</md-icon>
                            </md-button>
                        </div>
                        <div layout-gt-sm="column">
                            <table flex-gt-sm>
                                <thead>
                                    <tr layout-gt-sm="row">
                                        <th flex-gt-sm="30"><label>Denominacion</label></th>
                                        <th flex-gt-sm="10"><label>Cant.</label></th>
                                        <th flex-gt-sm="10"><label>UM</label></th>
                                        <th flex-gt-sm="10"><label>Precio</label></th>
                                        <th flex-gt-sm="10"><label>Moneda</label></th>
                                        <th flex-gt-sm="20"><label>Tipo de Precio</label></th>
                                        <th flex-gt-sm="10"><label>Precio Calculado</label></th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="table-scroll-div">
                                <table flex-gt-sm>
                                    <tbody>
                                        <tr layout-gt-sm="row" ng-repeat="presentacion in presentaciones">
                                            <td flex-gt-sm="30">
                                                <input class="md-table-input"
                                                    ng-bind="nuevoProducto.descripcion + presentacion.cantPresentacion"
                                                    required name="denominacionPresentacion"
                                                    ng-model="presentacion.denominacion" type="text">
                                            </td>
                                            <td flex-gt-sm="10">
                                                <input class="md-table-input" required name="cantPresentacion"
                                                    ng-model="presentacion.cantPresentacion" type="number" step=".01">
                                            </td>
                                            <td flex-gt-sm="5">
                                                <input class="md-table-input" required name="UMPresentacion"
                                                    ng-model="nuevoProducto.UM" type="text" disabled>
                                            </td>
                                            <td flex-gt-sm="10">
                                                <input class="md-table-input" required name="precioPresentacion"
                                                    ng-model="presentacion.precio" type="number" step=".01">
                                            </td>
                                            <td flex-gt-sm="10">
                                                <input class="md-table-input" required name="monedaPresentacion"
                                                    ng-model="presentacion.moneda" type="text" disabled>
                                            </td>
                                            <td flex-gt-sm="20">
                                                <select class="md-table-input" ng-model="presentacion.tipoPrecio">
                                                    <option ng-repeat="tipoPrecio in tiposPrecio"
                                                        ng-click='presentacion.moneda=tiposPrecio[$index].moneda'
                                                        value="{{tipoPrecio.tipoPrecio}}">
                                                        {{tipoPrecio.nombreTipoPrecio}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td flex-gt-sm="10">
                                                <input class="md-table-input" required
                                                    name="precioCalculadoPresentacion"
                                                    ng-model="presentacion.precioCalculado" type="number" disabled>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <md-dialog-actions layout="row">
                            <span flex></span>
                            <md-button class="md-raised md-accent" type="submit"
                                ng-click="crearProducto(nuevoProducto, nuevaDireccion)">
                                CREAR
                            </md-button>
                        </md-dialog-actions>
                    </form>
                </div>
            </md-content>
        </md-dialog-content>
    </div>
</md-dialog>