html, body {
    height: 100%;
    font-family: Google Sans, Noto Sans, sans-serif;
}

form {
    margin-bottom: 0;
}

#loadingCircle{
    position: fixed;
    z-index: 99;
    top: 18px;
    right: 30px;
}

i.material-icons.icon-big
{
    font-size: 48px;
}

md-icon.contacto-icon {
    color: #6B4;
    font-size: 48px;
    height: auto;
    width: auto
}

md-icon.cliente-icon {
    color: #FB8C00;
    font-size: 48px;
    height: auto;
    width: auto
}

.PkuyConsola {
    border-top: solid 1px #202020;
    background-color: #222;
    position: fixed;
    width: 100%;
    z-index: 99;
    bottom: 0;
    font-family: monospace;
    max-height: 1.6em;
    padding-top: 0.2em;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.PkuyConsola:hover {
    max-height: 30%;
    overflow: auto;
    transition: max-height 0.25s ease-in;
}

.PkuyConsola div.userDataContainer {
    color: burlywood;
    margin-left: 10px;
}

.PkuyConsola div.cotizacionesContainer {
    text-align: right;
    color: palevioletred
}

.PkuyConsola div.tituloContainer span {
    font-weight: bolder;
    color: coral;
    margin: 0 16px 0 6px;
}

.PkuyConsola div.consolaContainer span {
    display: block;
    color: mediumseagreen;
}

.PkuyConsola div.consolaContainer span:hover {
    background-color: #233;
}

.PkuyConsola div.consolaContainer span.warn {
    display: block;
    color: gold;
}

.PkuyConsola div.consolaContainer span.error {
    color: crimson;
    text-decoration: underline dotted;
}

md-input-container.md-block{
    margin-top: 0px;
    margin-bottom: 0px;
}
.md-table-input {
    background-color: #333;
    border: solid 1px #222;
    border-radius: 5px;
    height: 1.8em;
    color: #fff;
    padding: 0 6px;
}

div.md-input-message-animation{
    margin-bottom: 18px;
}

table {
    table-layout: fixed;
    width: 100%;
}
/* tbody{
} */
tr{
    display: flex;
    flex-flow: row;    
}
td, th {
    flex: 1 1 100px;
}
input, select{
    display: inline;
    width: 100%;
}
div.table-scroll-div{
    height: 150px;
    overflow: auto;
}