<md-dialog flex="80">
    <div layout="column" ng-cloak class="md-inline-form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ titulo }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content layout-padding>
                <div>
                    <form ng-cloak name="crearNuevoProducto" ng-submit="crearProducto(nuevoProducto, presentaciones)">

                        <div layout-gt-sm="row" id="rowCabecera">
                            <h2 flex="55">Datos del Producto</h2>
                            <!-- <md-chips flex="45" ng-model="filesArr" class="md-chips-mini md-chips-files" readonly="true"
                                md-removable="false">
                            </md-chips> -->
                            <div id="divMiniaturas" flex="" layout-gt-sm="row"></div>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="55">
                                <label>Descripción</label>
                                <input required name="descripcion" ng-model="nuevoProducto.descripcion" type="text">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>URL Mercadolibre</label>
                                <input required name="descripcion" ng-model="nuevoProducto.mlUrl"
                                    ng-init='nuevoProducto.mlUrl="https://articulo.mercadolibre.com.ar/"' type="text">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="15">
                                <md-button ng-click="browseFotos()" class="fotosBrowseBtn md-primary md-raised" type="button">Seleccionar Fotos</md-button>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm style="display:none">
                                <label>Fotos</label>
                                <input type="file" id="fotosProducto" name="fotosProducto" accept=".gif,.jpg,.jpeg,.png"
                                    ng-model="fotosProducto" onchange="angular.element(this).scope().updateFileList()"
                                    multiple />
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Origen</label>
                                <input name="origen" ng-model="nuevoProducto.origen" type="text">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="15">
                                <label>Unidad de Medida</label>
                                <md-select ng-model="nuevoProducto.UM">
                                    <md-option ng-repeat="unidad in unidades" value="{{unidad.unidadMedida}}">
                                        {{unidad.umPlural}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>Precio de Referencia U/M</label>
                                <input name="prReferencia" ng-model="nuevoProducto.precioReferenciaUM" type="number"
                                    step=".01">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="10">
                                <label>Moneda</label>
                                <input name="monedaPrReferencia" disabled ng-model="nuevoProducto.moneda">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="25">
                                <label>Tipo de Precio</label>
                                <md-select ng-model="nuevoProducto.tipoPrecio">
                                    <md-option ng-repeat="tipoPrecio in tiposPrecio | filter: { claseTipoPrecio: 'M' }"
                                        ng-click='nuevoProducto.moneda=tiposPrecio[$index].moneda'
                                        value="{{tipoPrecio.tipoPrecio}}">
                                        {{tipoPrecio.nombreTipoPrecio}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="10">
                                <label>Cotizaci&oacute;n</label>
                                <input name="cotizacionMoneda" type="text" disabled
                                    value="{{ nuevoProducto.cotizacionMoneda | currency: '$ ' }}">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <h5>Presentaciones</h5>
                            <span flex></span>
                            <md-button class="md-fab md-mini md-primary" aria-label="Agregar Presentacion"
                                ng-click="agregarPresentacion()">
                                <md-icon>add</md-icon>
                            </md-button>
                            <md-button class="md-fab md-mini md-primary" aria-label="Quitar Presentacion"
                                ng-click="quitarPresentacion()">
                                <md-icon>remove</md-icon>
                            </md-button>
                        </div>
                        <div layout-gt-sm="column" ng-if="presentaciones.length == 0">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Complete los datos del Producto y luego haga clic en + para agregar
                                            presentaciones</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div layout-gt-sm="column" ng-if="presentaciones.length > 0">
                            <table flex-gt-sm>
                                <thead>
                                    <tr layout-gt-sm="row">
                                        <th flex-gt-sm="25"><label>Denominacion</label></th>
                                        <th flex-gt-sm="10"><label>Cant.</label></th>
                                        <th flex-gt-sm="5"><label>UM</label></th>
                                        <th flex-gt-sm="10"><label>Valor</label></th>
                                        <th flex-gt-sm="30"><label>Tipo de Precio</label></th>
                                        <th flex-gt-sm="15"><label>Precio Final</label></th>
                                        <th flex-gt-sm="5"><label>Redondeo</label></th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="table-scroll-div">
                                <table flex-gt-sm>
                                    <tbody>
                                        <tr layout-gt-sm="row" ng-repeat="presentacion in presentaciones">
                                            <td flex-gt-sm="25">
                                                <input class="md-table-input" required name="denominacionPresentacion"
                                                    ng-model="presentacion.denominacion" type="text">
                                            </td>
                                            <td flex-gt-sm="10">
                                                <input class="md-table-input" required name="cantPresentacion"
                                                    ng-model="presentacion.cantPresentacion" type="number" step=".01">
                                            </td>
                                            <td flex-gt-sm="5">
                                                <input class="md-table-input" required name="UMPresentacion"
                                                    ng-model="nuevoProducto.UM" type="text" disabled>
                                            </td>
                                            <td flex-gt-sm="10">
                                                <input class="md-table-input" required name="valorPresentacion"
                                                    ng-model="presentacion.valor" type="number" step=".01">
                                            </td>
                                            <td flex-gt-sm="30">
                                                <select class="md-table-input" ng-model="presentacion.tipoPrecio">
                                                    <option
                                                        ng-repeat="tipoPrecio in tiposPrecio | filter: { claseTipoPrecio: 'P' }"
                                                        value="{{tipoPrecio.tipoPrecio}}">
                                                        {{tipoPrecio.nombreTipoPrecio}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td flex-gt-sm="15">
                                                <input class="md-table-input" name="precioCalculadoPresentacion"
                                                    disabled
                                                    value="{{ presentacion.precioFinal | currency: presentacion.moneda + '$ ' }}">
                                            </td>
                                            <td flex-gt-sm="5">
                                                <md-button class="md-icon-button grilla-presentaciones-btn"
                                                    type="button" ng-show="presentacion.redondeo === 0"
                                                    ng-click="presentacion.redondeo = 5">
                                                    <md-icon>close</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button md-accent grilla-presentaciones-btn"
                                                    type="button" ng-show="presentacion.redondeo === 5"
                                                    ng-click="presentacion.redondeo = 10">
                                                    5
                                                </md-button>
                                                <md-button class="md-icon-button md-accent grilla-presentaciones-btn"
                                                    type="button" ng-show="presentacion.redondeo === 10"
                                                    ng-click="presentacion.redondeo = 50">
                                                    10
                                                </md-button>
                                                <md-button class="md-icon-button md-accent grilla-presentaciones-btn"
                                                    type="button" ng-show="presentacion.redondeo === 50"
                                                    ng-click="presentacion.redondeo = 100">
                                                    50
                                                </md-button>
                                                <md-button class="md-icon-button md-accent grilla-presentaciones-btn"
                                                    type="button" ng-show="presentacion.redondeo === 100"
                                                    ng-click="presentacion.redondeo = 0">
                                                    100
                                                </md-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <md-dialog-actions layout="row">
                            <md-button class="md-accent md-disabled" ng-if="validaciones !== ''">
                                {{ statusStr }}
                            </md-button>
                            <span flex></span>
                            <md-button class="md-raised md-accent" type="submit">
                                CREAR
                            </md-button>
                        </md-dialog-actions>
                    </form>
                </div>
            </md-content>
        </md-dialog-content>
    </div>
</md-dialog>